<!DOCTYPE html>
<html>

<head>
    <title>Dispute - Host</title>
    <link rel="stylesheet" href="stylesheets/host.css">
</head>

<script src="js/host.js"></script>

<body>
    <div class="name-enter">
        <div class="binding">
            <span class="head-text">Host a Game</span>
            <div class='button-border'>
                <input class='text-input' type="button" value="Start Hosting" id="host"> 
            </div>
            <span class='error-text'>Error Class</span>
        </div>
    </div>
</body>

</html>
