<!DOCTYPE html>
<html>

<head>
    <title>Dispute - Host</title>
    <link rel="stylesheet" href="stylesheets/host.css">
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="js/host.js"></script>

<body>
    <div class="name-enter">
        <div class="top-bar">
            <span class="top-text">Dispute</span>
        </div>
        <center><span class='join-code' id="join-code"></span></center>
        <div class="user-section" id="user-section"></div>
        <div class="bottom-bar">
            <div class='button-border'>
                <input class='text-input' type="button" value="Start Game" id="host" onclick="startGame()"> 
            </div>
            <div class="button-border-h" id="btn-end">
                <input class='text-input' type="button" value="End Game" id="end" onclick="endGame()"> 
            </div>
        </div>
    </div>
    <div class="name-enter" id="name-enter">
        <div class="binding" id="binding">
            <span class="head-text" id="host-text">Host a Game</span>
            <div class='button-border' id='m-button'>
                <input class='text-input' type="button" value="Start Hosting" id="host1" onclick='startHost()'> 
            </div>
            <span class='error-text'>Error Class</span>
            <div class='bottom-text' id='bottom-text'>
                <span>Not intrested in hosting a game? <a href='/join'>Join One</a></span>
            </div>
        </div>
    </div>
    <div class='enter-bar' id="enter-bar">
        <div class="button-bar-bottom">
            <input class='text-input-b-b' type="button" value="Continue To Menu" id="sendOpinion" onclick="continueToMenu()"> 
        </div>
    </div>
    <div id='panels'>
        <div class='side-panel-r' id='panel-r'></div>
        <div class='side-panel-l' id="panel-l"></div>
    </div>
</body>

</html>