<!DOCTYPE html>
<html>

<head>
    <title>Dispute - Join</title>
    <link rel="stylesheet" href="stylesheets/join.css">
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="js/join.js"></script>

<body>
    <div class="name-enter">
        <div class="binding">
            <span class="head-text">Join a Game</span>
            <div class='button-border'>
                <input class='text-input' type="text" placeholder="Game Code" id="code" onkeyup="sendJoinCode()"> 
            </div>
            <span class='error-text' id="error">Error Class</span>
        </div>
    </div>
</body>

</html>
